// https://css-tricks.com/old-timey-terminal-styling/
body {
	background-color: black;
	background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
	height: 100vh;
	margin: 0;
	padding: 2rem;
	box-sizing: border-box;
	color: white;
	font: 1.3rem Inconsolata, monospace;
}

hr {
	margin: 1em 0;
}

main {
	padding-bottom: 1em;
}

.groups {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	@media (max-width: 960px) {
		grid-template-columns: 1fr;
	}

	.group-links {
		a,
		a:visited {
			color: #fff;
		}
	}
}
